<%= form_for @shop, :html=>{:multipart=>true} do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2>以下有<%= @shop.errors.count %>个必填项目，请补充完整,必须提供至少一张图片:</h2>

      <!-- <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul> -->
    </div>
  <% end %>

  <div class="field">
    <div><%= f.label :名称 %><span>***号为必填项目,必须提供至少一张图片，支持格式jpeg、gif、png:</span></div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div><%= f.label :地址 %><span>***</span></div>
    <%= f.text_field :address %>
  </div>
    <div class="field">
    <div><%= f.label :商圈（地标等补充信息） %></div>
    <%= f.text_field :land_mark %>
  </div>
  <div class="field">
    <div><%= f.label :电话 %><span>***</span></div>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <div><%= f.label :营业时间 %><span>***</span></div>
    <%= f.text_field :open_time %>
  </div>
  <div class="field">
    <div><%= f.label :商户简介 %><span>***</span></div>
    <%= f.text_area :brief,:size=>"76x5" %>
  </div>
  
  <div class="field">
    <div><%= f.label "图片1" %><span>***</span></div>
    <%= f.file_field :photo1 %>
  </div>
  <div class="field">
    <div><%= f.label "图片2" %></div>
    <%= f.file_field :photo2 %>
  </div>
  <div class="field">
    <div><%= f.label "图片3" %></div>
    <%= f.file_field :photo3 %>
  </div>
  
  <div class="field">
    <div><%= f.label :email邮箱 %></div>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <div><%= f.label :Msn %></div>
    <%= f.text_field :msn %>
  </div>
  <div class="field">
    <div><%= f.label :QQ %></div>
    <%= f.text_field :qq %>
  </div>
  <div class="actions">
    <%= f.submit "确认提交" %>
  </div>
<% end %>
