<h1>店铺列表</h1>

<table>
  <tr>
    <th>名称：</th>
    <th>地址：</th>
    <th>商圈/地标：</th>
    <th>电话：</th>
    <th>营业时间：</th>
    <th>简介：</th>
    <th>Email</th>
    <th>Msn</th>
    <th>Qq</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.name %></td>
    <td><%= shop.address %></td>
    <td><%= shop.land_mark %></td>
    <td><%= shop.phone %></td>
    <td><%= shop.open_time %></td>
    <td><%= shop.brief %></td>
    <td><%= shop.email %></td>
    <td><%= shop.msn %></td>
    <td><%= shop.qq %></td>
    <td><%= link_to '预览', shop %></td>
    <td><%= link_to '编辑', edit_shop_path(shop) %></td>
    <td><%= link_to '删除', shop, :confirm => '确认删除?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @shops%>
<br />

<%= link_to '新增店铺', new_shop_path %>
