<h1>Listing shops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Land mark</th>
    <th>Phone</th>
    <th>Open time</th>
    <th>Brief</th>
    <th>Email</th>
    <th>Msn</th>
    <th>Qq</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shops.each do |shop| %>
  <tr>
    <td><%= shop.name %></td>
    <td><%= shop.address %></td>
    <td><%= shop.land_mark %></td>
    <td><%= shop.phone %></td>
    <td><%= shop.open_time %></td>
    <td><%= shop.brief %></td>
    <td><%= shop.email %></td>
    <td><%= shop.msn %></td>
    <td><%= shop.qq %></td>
    <td><%= link_to 'Show', shop %></td>
    <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
    <td><%= link_to 'Destroy', shop, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shop', new_shop_path %>
