<p id="notice"><%= notice %></p>

<p>
  <label>名称:</label>
  <%= @shop.name %>
</p>

<p>
  <label>地址:</label>
  <%= @shop.address %>
</p>

<p>
  <label>商圈/地标:</label>
  <%= @shop.land_mark%>
</p>

<p>
  <label>联系电话:</label>
  <%= @shop.phone %>
</p>

<p>
  <label>营业时间:</label>
  <%= @shop.open_time %>
</p>

<p>
  <label>店铺简介:</label>
  <%= @shop.brief %>
</p>

<p>
  <label>图片1:</label>
  <%= image_tag @shop.photo1.url(:big) %>
</p>

<p>
  <label>图片2:</label>
  <%= image_tag @shop.photo2.url(:big) %>
</p>

<p>
  <label>图片3:</label>
  <%= image_tag @shop.photo3.url(:big) %>
</p>

<p>
  <label>Email:</label>
  <%= @shop.email %>
</p>

<p>
  <label>Msn:</label>
  <%= @shop.msn %>
</p>

<p>
  <label>Qq:</label>
  <%= @shop.qq %>
</p>


<%= link_to '修改', edit_shop_path(@shop) %> 
<a href="http://www.lezipu.com">返回首页</a>

