<p id="notice"><%= notice %></p>

<p>
  <label>Name:</label>
  <%= @shop.name %>
</p>

<p>
  <label>Address:</label>
  <%= @shop.address %>
</p>

<p>
  <label>Land mark:</label>
  <%= @shop.land_mark%>
</p>

<p>
  <label>Phone:</label>
  <%= @shop.phone %>
</p>

<p>
  <label>Open time:</label>
  <%= @shop.open_time %>
</p>

<p>
  <label>Brief:</label>
  <%= @shop.brief %>
</p>

<p>
  <label>图片1:</label>
  <%= image_tag @shop.photo1.url(:big) %>
</p>

<p>
  <label>图片2:</label>
  <%= image_tag @shop.photo2.url(:big) %>
</p>

<p>
  <label>图片3:</label>
  <%= image_tag @shop.photo3.url(:big) %>
</p>

<p>
  <label>Email:</label>
  <%= @shop.email %>
</p>

<p>
  <label>Msn:</label>
  <%= @shop.msn %>
</p>

<p>
  <label>Qq:</label>
  <%= @shop.qq %>
</p>


<%= link_to 'Edit', edit_shop_path(@shop) %> 
<a href="http://www.lezipu.com">返回首页</a>

