<div class="newshop_content">
<p id="notice"><%= notice %></p>

<p>
  <span>名称:</span>
  <%= @shop.name %>
</p>

<p>
  <span>地址:</span>
  <%= @shop.address %>
</p>

<p>
  <span>商圈/地标:</span>
  <%= @shop.land_mark%>
</p>

<p>
  <span>联系电话:</span>
  <%= @shop.phone %>
</p>

<p>
  <span>营业时间:</span>
  <%= @shop.open_time %>
</p>

<p>
  <span>店铺简介:</span>
  <%= @shop.brief %>
</p>

<p>
  <span>图片:</span>
  <%= image_tag @shop.photo1.url(:big),:class=>"addshoppic"%>
  <% if @shop.photo2_file_name%>
 	 <%= image_tag @shop.photo2.url(:big),:class=>"addshoppic"%>
  <% end %>
  <% if @shop.photo3_file_name%>
  	<%= image_tag @shop.photo3.url(:big),:class=>"addshoppic"%>
  <% end %>
</p>

<p>
  <span>Email:</span>
  <%= @shop.email %>
</p>

<p>
  <span>Msn:</span>
  <%= @shop.msn %>
</p>

<p>
  <span>Qq:</span>
  <%= @shop.qq %>
</p>

<div>
	<%= link_to '修改', edit_shop_path(@shop), :class=>"button green edit" %> 
	<%= link_to '继续添加店铺', new_shop_path, :class=>"button green addnew" %>
	<a class="button green" href="http://www.lezipu.com">返回首页</a></div>
</div>

